{% extends 'base.html' %}

{% block title %} Add Contact {% endblock title %}


{% block content %}

<h1 class="h1">Add to your Phone Book here!</h1>

<form method="post">
    {{ form.csrf_token }}
    <div class="form_group">
        {{ form.first_name.label(class='fn mt-2') }}
        {{ form.first_name(class='form-control mt-2', placeholder='Enter First Name') }}

        {{ form.last_name.label(class='ln mt-2') }}
        {{ form.last_name(class='form-control mt-2', placeholder='Enter Last Name') }}

        {{ form.phone_number.label(class='pn mt-2') }}
        {{ form.phone_number(class='form-control mt-2', placeholder='Enter Phone Number') }}

        {{ form.address.label(class='ad mt-2')}}
        {{ form.address(class='form-control mt-2', placeholder='Enter Address') }}

        {{ form.submit(class='btn btn-dark w-75 mt-3 border border-secondary bg-gradient') }}

    </div>

</form>

{% endblock content %}