{% extends 'base.html' %}



{% block title %} View Post {% endblock title %}

{% block content %}

<div class="card mt-3">
    <div class="card-header">
      Contact:
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{ address.author.username }}</li>
      <li class="list-group-item">{{ address.first_name }} {{ address.last_name }} </li>
      <li class="list-group-item">{{ address.phone_number }}</li>
      <li class="list-group-item">{{ address.address }}</li>
    </ul>
  </div>

    {% if current_user == address.author %}
      <div class="d-flex">
          <a href="{{ url_for('edit_address', address_id=address.id) }}" class="btn btn-success w-50">Edit Address</a>

          <button type="button" class="btn btn-danger w-50" data-bs-toggle="modal" data-bs-target="#deleteModal">
            Delete Post
          </button>
      </div>


      <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Are you sure you want to do that?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            Are you sure you want to delete this address {{ address.first_name }} ? This action cannot be undone.
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <a href="{{ url_for('delete_address', address_id=address.id) }}" class="btn btn-danger">Delete</a>
            </div>
        </div>
        </div>
    </div>

  {% endif %}

{% endblock content %}
