{% extends 'base.html' %}

{% block title %} Homes {% endblock title %}


{% block content %}

<h1 class="h1">Welcome to my page!</h1>

<h3 class="h3">Stay and check things out!</h3>
    <div class="bird mt-4">
        <img src="{{url_for('static', filename='cockatiel.jpg')}}" alt="cutebird" class="bird rounded w-25"/>
    </div>

{% if current_user.is_authenticated %}
    <h6 class="text-center">Signed in as: {{ current_user.username }}</h6>

    {% for address in addresses %}

    <div class="card mt-3">
        <div class="card-header">
          Contact:
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"> added by: {{ address.author.username }}</li>
          <a href="{{ url_for('view_address', address_id=address.id) }}">
            <li class="list-group-item">{{ address.first_name }} {{ address.last_name }} </li>
          </a>
          <li class="list-group-item">{{ address.phone_number }}</li>
          <li class="list-group-item">{{ address.address }}</li>
        </ul>
      </div>
    {% endfor %}

    {% else %}
      <h4 class="text-center"> Please Sign Up or Log In to view contacts</h4>
    {% endif %}


{% endblock content %}